* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-size: 100%;
	background-attachment: fixed;
	font-family: "Calibri";
	font-size: 1rem;
	line-height: 1.8;
	font-weight: 200;
	letter-spacing: 1px;
	background-repeat: repeat;
	background-position: top left;
	color: #fff;
	background-color: #000;
	background-image: url("./assets/background.jpg");
	display: block;
}

.site-content {
	height: 100%;
}

html body {
	height: 100%;
	width: 100%;
}

.navbar-mobile {
	display: none;
}

.nav-mobile {
	flex-direction: column;
	align-items: flex-start;
}

.nav-menu-mobile {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	padding: 68px 0px 25.5px;
}

.mobile-nav-links {
	display: flex;
	justify-content: center;
}

.mobile-nav-links a {
	text-decoration: none;
	font-family: "Calibri";
	font-size: 25.5px;
	padding: 12.75px;
	color: #fff;
	font-weight: 700;
	display: flex;
}

.mobile-nav-links a:hover {
	transition: 0.5s;
	color: #E54F2F;
	cursor: pointer;
}

.menu-button {
	position: absolute;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.menu-button .bar {
	height: 3px;
	width: 25px;
	background-color: #fff;
}

.green-line {
	display: none;
}

.mobile-social-media {
	display: inline-flex;
	align-self: center;
}

.mobile-social-media li {
	list-style: none;
	margin: 5px;
}

.mobile-social-media li a {
	text-decoration: none;
}

i:hover {
	color: #E54F2F;
	transition: 0.5s;
}

.fab {
	background-color: black;
	color: white;
	font-size: 26px;
}

@media (max-width: 827px) {
	.navbar-desktop {
		display: none;
		position: fixed;
	}

	.navbar-mobile {
		display: flex;
		align-self: center;
	}

	.nav-mobile {
		display: none;
	}

	.menu-button {
		display: flex;
	}

	.mobile-header-logo {
		display: flex;
		margin-left: auto;
		height: 85px;
		width: 85px;
	}

	.mobile-footer {
		display: flex;
		justify-content: center;
	}

	.nav-mobile.active {
		width: 100%;
		display: flex;
		justify-content: center;		
	}

	.nav-menu-mobile.active {
		width: 100%;
		display: flex;
		justify-content: center;	
	}

	main.active {
		display: none;
	}

	.logo-mobile.active {
		display: none;
	}

	.mobile-footer.active {
		display: none;
	}

	.desktop-footer.active {
		display: none;
	}

	.green-line.active {
		display: flex;
		height: 3px;
		width: 100%;
		background-color: #8ECF5F;
		margin: 0px 0px 31.75px;
	}

	.header.active {
		position: relative;
	}

}

.header {
	background-color: #000;
	padding: 17px;
	position: fixed;
	width: 100%;
	z-index: 800;
}

.logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto 1rem;
}

.nav {
	display: grid;
	justify-content: center;
	align-items: center;
}

.nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.nav-menu li {
	font-weight: 1000;
	list-style: none;
	padding: 0px 7.225px;
	height: 33px;
}


.nav-links {
	text-decoration: none;
	color: #fff;
	font-size: 14.45px;
	font-weight: 1000;
	display: inline-block;
	vertical-align: middle;
}

.nav-links:hover {
	transition: 0.5s;
	color: #E54F2F;
	cursor: pointer;
	text-decoration: none;
}

.logo:hover {
	cursor: pointer;
}

.order-online {
	font-family: "Calibri";
	height: 44px;
	width: 134px;
	font-size: 14.45px;
	background-color: #8ECF5F;
	color: #fff;
	font-weight: 1000;
	margin: 0px 0px 0px 7.225px;
	padding: 7.225px 14.45px;
	border: none;
	border-width: 2px;
}

.order-online:hover {
	transition: 0.5s;
	background-color: #E54F2F;
	cursor: pointer;
	border: none;
}

img {
	max-width: 100%;
	height: auto;
}